<div class="py-2">
    {% if request.user.is_authenticated %}
        <a href="{% url 'webapp:article-like' article.pk %}" data-js="js">
            {% if request.user not in article.like_users.all %}
                <span class="me-2"><i class="bi bi-heart"></i></span>
            {% else %}
                <span class="me-2"><i class="bi bi-heart-fill"></i></span>
            {% endif %}
        </a>
        <span class="post-likes font-weight-bold" data-like="like">{{ article.like_users.count }}</span>
    {% endif %}
</div>