{% extends 'base.html' %}

{% block title %}
    <title>{{ article.title }}</title>
{% endblock %}


{% block nav %}
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:add-article' %}">Create article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:article-update' article.pk %}">Update
            article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:article-delete' article.pk %}">Delete
            article</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="{% url 'webapp:add-comment' article.pk %}">Create
            comment</a>
    </li>
{% endblock %}

{% block content %}
    <div class="article">
        <h1>Название - {{ article.title }}</h1>
        <p>Контент - {{ article.content }}</p>
        <p>Автор - {{ article.author }}</p>
        <p>Дата создания - {{ article.created_at }} </p>
        <p>Статус - {{ article.get_status_display }} </p>
        {% include "partial/article_like.html" %}
        <hr/>
        <h5>Tags</h5>
        {% for tag in article.tags.all %}
            {% if forloop.last %} {{ tag }}. {% else %} {{ tag }}, {% endif %}
        {% endfor %}

        <h5>Comment</h5>
        {% for comment in comments %}
            <div class="card">
                <p>{{ comment.text }}</p>
                <div class="py-2">
                    {% if request.user.is_authenticated %}
                        <a href="{% url 'webapp:comment-like' comment.pk %}" data-js="comment-like">
                            {% if request.user not in comment.like_comments.all %}
                                <span class="me-2"><i class="bi bi-heart"></i></span>
                            {% else %}
                                <span class="me-2"><i class="bi bi-heart-fill"></i></span>
                            {% endif %}
                        </a>
                        <span class="comment-likes font-weight-bold">{{ comment.like_comments.count }}</span>
                    {% endif %}
                </div>
                <a href="{% url 'webapp:comment-update' comment.pk %}">Update</a>
                <a href="{% url 'webapp:comment-delete' comment.pk %}">Delete</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
